*.py[cod]
.idea/
env/
env37/
env38/
env39/
env310/
.coverage
.cache/
htmlcov/
media/
sandbox/
.pytest_cache/
*.egg-info/
/build/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/TODO.md
/.mypy_cache/
/scratch/
