name: CI

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: test py${{ matrix.python-version }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos]
        python-version: ['3.7', '3.8', '3.9', '3.10']

    runs-on: ${{ matrix.os }}-latest

    env:
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('tests/requirements.txt') }}

    - run: pip install -r tests/requirements.txt
      if: steps.cache.outputs.cache-hit != 'true'

    - run: poetry install
      if: steps.cache.outputs.cache-hit != 'true'

    - run: make test

    - run: coverage xml

    - uses: codecov/codecov-action@v2.1.0
      with:
        file: ./coverage.xml
        env_vars: PYTHON,OS

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v1
      with:
        python-version: '3.10'

    - uses: actions/cache@v2
      id: cache
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ hashFiles('tests/requirements-linting.txt') }}

    - run: pip install -r tests/requirements-linting.txt
      if: steps.cache.outputs.cache-hit != 'true'

    - run: make lint
    - run: make mypy

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-python@v1
      with:
        python-version: '3.10'

    - name: install
      run: pip install -r docs/requirements.txt

    - name: install mkdocs-material-insiders
      if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
      run: pip install git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
      env:
        GH_TOKEN: ${{ secrets.gh_token }}

    - name: build site
      run: mkdocs build

    - name: store docs site
      uses: actions/upload-artifact@v2
      with:
        name: docs
        path: site

  deploy:
    needs:
      - test
      - lint
      - docs
    if: "success() && startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: set up python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'

      - name: get docs
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: site

      - name: set version
        run: VERSION_PATH=dirty_equals python <(curl -Ls https://bit.ly/set__version__)

      - run: pip install poetry==1.2.0a2 poetry-version-plugin

      - run: poetry publish --build
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.pypi_token }}

      - name: publish docs
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        with:
          branch: gh-pages
          folder: site
